@font-face {
    font-family: "montserrat";
    src: url(../Resources/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "barlow";
    src: url(../Resources/fonts/BarlowCondensed-Medium.ttf);
}

@font-face {
    font-family: "barlow-bold";
    src: url(../Resources/fonts/BarlowCondensed-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: burlywood;
}

.logo {
    height: 200px;
    margin: auto;
    display: block;
}

body {
    background-color: burlywood;
    position: relative;
    min-height: 100vh;
}

.main-index {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.main-index section {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    flex-wrap: wrap;
}

.main-index section .card{
    margin: 5px;
}


#carouselExample {
    margin: 40px;
}

#carouselExample img {
    height: 600px;
}

.nav2 {
    margin-left: 20px;
    text-transform: uppercase;
}

.nav2 ul {
    list-style-type: none;
}

.nav2 ul li a {
    text-decoration: none;
    color: white;
    font-family: "barlow";
}

.nav2 h4 {
    font-family: "barlow-bold";
}

.redes h4 {
    font-family: "barlow-bold";
}

footer {
    padding: 20px;
    background-color: #7a270b;
    display: flex;
    position: absolute;
    width: 100%;
}

.instagram {
    display: block;
    margin-top: 20px;
    margin-left: 50%;
    height: 20px;
}

.instagram2 {
    display: block;
    margin-top: 20px;
    height: 20px;
}


footer .redes {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: baseline;
}

.main-ventas {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 30px;
}

.main-ventas .filtro {
    display: flex;
    flex-direction: column;
}

.main-ventas .filtro div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.main-ventas section {
    padding: 20px;
    display: flex;
   flex-wrap: wrap; 
}

.main-ventas section .card {
    margin: 5px;
}

.main-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding: 20px;
}

.main-contacto section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main-contacto .message {
    height: 80px;
}

.navbar {
    background-image: linear-gradient(to bottom right, #7a270b, #d3986c);
    justify-content: space-evenly;
}

.navbar a {
    font-family: "montserrat";
}

.navbar a:hover {
    font-style: italic;
    font-weight: bold;
}
