body {
    background-color: grey;
    position: relative;
    min-height: 100vh;
}

main {
    background-color: #bf7712;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #7a270b;
    display: flex;
    position: absolute;
    width: 100%;
}

.logo {
    height: 100px;
    margin: auto;
    display: block;

}

.nav {
    text-transform: uppercase;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav ul li {
    background-color: #c1621b;
    display: inline;
    border: black 0.5px solid;
}

.nav ul li a {
    font-family: sans-serif;
    color: black;
    text-decoration: none;
}

.nav2 {
    margin-left: 20px;
    text-transform: uppercase;
}

.nav2 ul {
    list-style-type: none;
}

.nav2 ul li a {
    text-decoration: none;
    color: white;
}

.instagram {
    display: block;
    margin-top: 20px;
    margin-left: 50%;
    height: 20px;
}