header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: burlywood;

    input {
        margin-top: 2px;
    }

    .lupa {
        font-size: 25px;
    }


    .logo {
        height: 100px;
        margin: auto;
        margin-bottom: 15px;
        display: block;
    }

    .navbar {
        background-image: linear-gradient(to bottom right, #7a270b, #d3986c);
        justify-content: space-evenly;

        .navbar-toggler {
            margin-right: auto;
        }

        .espaciado {
            gap: 140px;

            a {
                font-family: "montserrat";

                &:hover {
                    font-style: italic;
                    font-weight: bold;
                }
            }
        }
    }
}